@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body{
    background-color: #181616;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #1b1a1a;
    width: 70px;
    height: 450px;
    text-align: center;
    border-radius: 10px;
    box-shadow: inset 0 0 4px rgba(255,255,255,.1),
                inset 3px 3px 8px rgba(255,255,255,.1);
    transition: .4s;
}

nav li{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    color: #FFFFFF;
    opacity: .9;
    transition: .4s;
}

nav li:hover, a:hover{
  color: #0cebc5;
  transform: scale(1.1);  
  opacity: 1;
}

.brand{
    color: #0cebc5;
    font-size: 28px;
    margin-top: 30px;
}

li i{
    position: absolute;
    font-size: 24px;
    transition: .4s;
}

li a{
    text-decoration: none;
    color: #FFFFFF;
    position: absolute;
    font-size: 18px;
    letter-spacing: 1px;
    opacity: 0;
    transition: .4s;
}

nav label{
    cursor: pointer;
    color: #FFFFFF;
    background-color: #1b1a1a;
    font-size: 28px;
    width: 15px;
    height: 27px;
    padding: 6px 18px;
    border-radius: 50%;
    transform: translateX(35px) translateY(8px);
    border-right: 1px solid rgba(255,255,255,.1);
    transition: .4s;
}

nav label:hover{
    color: #0cebc5;
}

input:checked ~ nav{
    width: 25vh;
}

input:checked ~ nav label{
    transform: translateX(90px) translateY(10px) rotate(180deg);
    padding-left: 10px;
    border-right: 0;
    border-left: 1px solid rgba(255,255,255,.1);
}

input:checked ~ nav li i{
    padding-right: 100px;
}

input:checked ~ nav li a{
    padding-left: 40px;
    opacity: 1;
}

input{
    display: none;
}